.filas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 30px;
    padding-top: 30px;
}

.columnas{
    display: flex;
    flex-direction: column;
}
