.eachCard{
    width: 24%;
    border-style: solid;
    margin-bottom: 20px;
    background: white;
}

.eachCard img{
    width: 100%;
}

.eachCard:hover{
    box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.verMas{
    width: 22%;
    color: blue;
}

.verMas:hover{
    text-decoration: underline;
    cursor: pointer;
}

.esconder{
    display: none;
}

.mostrar{
    display: block;
}

