.eachCard{
    width: 24%;
    border-style: solid;
    margin-bottom: 20px;
}

.eachCard img{
    width: 100%;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}